extends layout

block content
  include partials/pagetitle.pug

  div.row
    div.column.column-40
      form(action='/account/signup' method='POST')
        fieldset
          div
            label(for='nameField') Name
            input#nameField(type='text' name='name' placeholder='', required)
          div
            label(for='emailField') Email
            input#emailField(type='email' name='email' placeholder='someone@exmaple.com', required)

          div
            label(for='passwordField') Password
            input#passwordField(type='password' name='password' placeholder='', required)

          div
            input.button-primary(type='submit' value='Signup')

  script(src='/javascripts/signup.js')
