a {
  color: #111;
}

.content-wrapper {
  padding-top: 2rem;
}

.row .column {
  margin: 0;
}

.wrapper {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.navigation {
  background: #f4f5f6;
  border-bottom: .1rem solid #d1d1d1;
  display: block;
  height: 5.2rem;
}

.navigation-list {
  list-style: none;
  margin-bottom: 0;
}

.navigation-list .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative;
}

.navigation-list .navigation-item.home {
  margin: 0;
}

.navigation .navigation-link, .navigation .navigation-title, .navigation .title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
}


.control-row {
  height: 6rem;
}
.control-row .sort-product {
  padding: 0;
  margin: 0;
}

.product-row {
  justify-content: space-between;
}
.product {
  padding: 1rem;
  margin: 1rem 0;
  width: 28rem;
  min-height: 0;
  background: #FFF;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
}

.product img {
  width: 28rem;
  max-height: 28rem;
}

.product h6 {
  font-weight: 700;
}

.product .detail {
  width: 100%;
  margin: 0 0 .8rem 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.filters label {
  display: inline;
  font-size: 1.2rem;
}

.paginate-product {
  display: flex;
}


/* utility classes */
.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.clear-button {
  background-color: transparent;
  border: 0.1rem solid #111;
  border-radius: .4rem;
  color: #111;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: .1rem;
  line-height: 3.8rem;
  padding: 0 3.0rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
